@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

body {
    background-color: #acfcd9;
    font-family: "Kalam";
    font-weight: 300;
    font-size: 20px;
    font-style: normal;

    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* prevent the arrows to be displayed as emoji */
.fleche {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    margin-top: -8px;
}

.gauche {
    color: blue;
    margin-left: 1em;
    margin-right: -3px;
}

.droite {
    color: red;
    margin-right: 1em;
    margin-left: -3px;
}

#formMenu {
    margin-inline: auto;
    display: none;
    justify-content: center;
    flex-direction: column;
}


#openMenu {
    background-color: transparent;
    margin-right: 5px;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}

#formMenu {
    display: none;
    margin-left: auto;
    margin-right: auto;
    margin-inline: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#cardCheckbox {
    display: flex; 
    justify-content: center;  
    align-items: flex-start; 
    flex-direction: column;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    align-items: left;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.validFormMenu{
    margin: 10px;
    align-items: center;
}

h1,
h4 {
    color: #6C2498;
}

h1 {
    font-size: 65px;
}

.signature {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.rollForWeather {
    margin-bottom: 14px;
    margin-left: 5px;
    margin-right: 5px;
    width: 2em;
    height: 2em;
}

.card-body {
    background-color: rgba(93, 217, 192, 0.60);
}

.card {
    margin-top: 2%;
    margin-left: 15%;
    margin-right: 15%;
    background-repeat: no-repeat;
}

.card-snow { /*Needs to be even more to the left, contrast is not terrible*/
    background-image: url("../images/Neige.png");
    background-position: left;
}

.card-cloud { /*Looks good*/
    background-image: url("../images/cloud.gif");
    background-size: cover;
}

.card-thunder { /*Looks good*/
    background-image: url("../images/thunder.gif");
    background-repeat: repeat;
    background-position: center;
}

.card-rain { /*Pic Needs a bit of margin left, but how...*/
    background-image: url("../images/Pluie.png");
    background-position: left;
}

.card-sun { /*Pic Needs a bit of margin left, but how...*/
    background-image: url("../images/sun2.gif");
    background-position: left;
}

.card-fog { /*Needs a new Pic*/
    background-image: url("../images/Brouillard.png");
}

#nextDays {
    overflow: auto;
}


.hiddenInfo{
    display: none !important;
}